html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}
button.no-pointer-events {
    pointer-events: none; /* Prevent the button from being clickable or hovered */
    cursor: default; /* Prevent the hand cursor from appearing */
}


.header-logo {
    max-width: 75px;
    height: auto;
}


.footer-logo {
    max-width: 60px; 
    height: auto;
}


label.required:after {
    content: " *";
    color: red;
}