html {
  font-size: 14px;
}

/* Font family CSS */
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}
button.no-pointer-events {
    pointer-events: none; /* Prevent the button from being clickable or hovered */
    cursor: default; /* Prevent the hand cursor from appearing */
}


.header-logo {
    max-width: 75px;
    height: auto;
}


.footer-logo {
    max-width: 60px; 
    height: auto;
}


label.required:after {
    content: " *";
    color: red;
}


.table-custom {
    border-radius: 10px;
    overflow: visible;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.page-link-custom{
    background-color: #343a40 !important;
    color: #ffffff !important;
    border: none
}

.table-custom thead tr th button {
    padding-left: 0
}


@media (max-width: 991.99px) {
    .d-lg-inline {
        display: none !important;
    }

    .d-lg-none {
        display: block !important;
    }

    .table-custom button {
        font-size: 10px;
    }

    .table-custom tbody td {
        font-size: 11px;
    }

    .table-custom {
        border-radius: 10px;
        overflow: visible;
    }

}

.d-lg-none, .d-none {
    transition: opacity 0.3s ease-in-out;
}


@media (min-width: 992px) {
    .d-lg-inline {
        display: inline-block !important;
    }

    .d-lg-none {
        display: none !important;
    }

}


.select2-selection {
    height: 40px !important; /* Adjust as needed /
    line-height: 35px !important; / Ensure text aligns properly */
    padding-top: 5px !important;
    width:auto;
    display:block;
}

.select2-container--default .select2-dropdown {
    position: absolute !important;
    border: 1px solid #aaa;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1051;  /*Ensure it's above other elements*/ 
}
.dropdown-divider {
    border-top: 1px solid #000000
}